*{
margin: 0;
padding: 0;
}
bory{
    font-family: 'Poppins',sans-serif;
}
.cabecalho {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
}

.cabecalho-imagem{
    width: 05;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.cabecalho-lista-item a {
    text-decoration: nome;
    color: white;
}
.escola-imagem{
    width: 25%;
}


